*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* свойстве которое позволяет не изменять масштаб при добавлени каких либо отступов, бордеров и тд */ 
  font-family: "Ubuntu", sans-serif;
}
    
body {
  background: #fff;
  color: #333;
}
    
header {
  background-color: #666;
  color: #fff;
  display: flex;
  flex-direction: column; /* поменяли направление оси на колонны */
  justify-content: space-between; /* одинаковое промежуток между элементами */
  align-items: center;
  text-align: center;
}
    
header h1 {
  font-size: 55px;
  margin: 35px 0px 35px 0px;
  font-weight: lighter;
}

header h3 {
  font-size: 23px;
  font-weight: lighter;
  margin-bottom: 71px;
}
    
header h6 {
  font-size: 13px;
  letter-spacing: 3.43px;
}

.banner-content {
  margin: 113.5px 0px 87px 0px;
}

.slider-after {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* чтобы не по центру */
  margin-bottom: 94px;
}

.form-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 47px;
}
    
.slider-after input {
  padding-left: 40px;
  font-size: 1rem;
  height: 53px;
  width: 233px;
  border: none;
}

.slider-after button {
  padding: 0 20px;
  font-size: 1rem;
  height: 53px;
  width: 163px;
  background: #00c9a7;
  color: white;
  cursor: pointer;
  border: none;
}

.info {
  font-weight: lighter;
  line-height: 25px;
  font-size: 15px;
  width: 100%;
}

.info a {
  color: #00c9a7;
  text-decoration: none;
  font-weight: lighter;
}
    
.main-nav {
  display: flex;
  justify-content: center; /* горизонтальнео выравнивание */
  align-items: center; /* вертикальное выравнивание */
  background: #f5f5f5;
  padding: 4px 20px;
  box-shadow: 0px 2px 10px rgb(185, 185, 185);
}

.logo img{
  width: 60px;
  margin-right: 30px;
}

.menu-links {
  display: flex;
  gap: 20px;
}

.menu-links a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-left: 350px;
  padding: 10px 5px;
  gap: 15px;
  border-left: 1px solid rgb(217, 217, 217);
  border-right: 1px solid rgb(217, 217, 217);
}

.social-icons img {
  width: 30px;
}

.features {
  padding: 100px 20px;
  text-align: center;
}

.smile img{
  width: 60px;
  opacity: 50%;  
}
    
.features h2 {
  margin-bottom: 60px;
  font-size: 2.5rem;
  font-weight: lighter;
}
    
.features h6 {
  font-size: 0.6rem;
  letter-spacing: 3px;
  margin: 30px 0px 15px 0px;
  opacity: 50%;
}

.feature-items {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
    
.feature-item {
  max-width: 320px;
}
    
.feature-item h3 {
  margin: 25px 0 15px;
  font-size: 1.5rem;
  opacity: 70%;
}
    
.feature-item p {
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 900px) {
  .main-nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menu-links {
    justify-content: center;
    flex-wrap: wrap;
  }

  .social-icons, .social-icons img, .logo img{
    margin: 10px 0px 10px 0px;
  }
}
